<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Home</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- bootstrap css -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lobster">
    <link rel="stylesheet" type="text/css" media="screen" href="../css/main.css" />
    <script src="main.js"></script>
</head>
<body>

            <!-- navbar -->
    <nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#"><p>WeConnect</p></a>
        </div>
                <ul class="nav navbar-nav">
                <li><a href="#">Home</a></li>
                <li><a href="#">My Profile</a></li>
                <li><a href="#">Register Business</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="login.html"> Log In</a></li>
            </ul>
    </div>
    </nav>

<div class="container">
    <div class="jumbotron">
        <h2 align="center">WeConnect</h2>
    </div>
    
    <h2>Sign Up here:</h2>
  <form>
    <div class="form-group">
      <label for="usr">Username:</label>
      <input type="text" class="form-control" id="usr" required>
      <label for="eml">Email:</label>
      <input type="text" class="form-control" id="eml" required>

      <label for="pwd">Password:</label>
      <input type="password" class="form-control" id="pwd" required>
      <label for="pwd">Confirm password:</label>
      <input type="password" class="form-control" id="pwd" required>
    </div>
    <button type="submit" class="btn btn-basic btn-block"><a href="login.html"></a>Sign Up</button>
  </form>
  <br>
  <p align="center"> Already registered?: Log in <a href="login.html">here</a></p>
</div>
    
</body>
</html>