.navbar-brand p {
    font-family: Lobster;
    color: blueviolet;
}

.jumbotron h2{
    font-family: Lobster;
    color: blueviolet;
}

h3{
    font-family: Lobster;
    color: blueviolet;
}

.bs-callout {
    padding-left: 10px;
    margin-left: 10px;
}

.img-round{
    border-radius: 50%;
    height: 150px;
    width: 150px;
    line-height: 150px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%
}


ul {
    list-style: none;
}